p {
  min-height: 90px;
  text-align: center;
}

.red {
  background-color: red;
  width: 110px;
}

#blue {
  background-color: blue;
  width: 50vw;
}

.moccasin {
  background-color: yellow;
  width: 250px;
  max-width: 75vw;
}
.first {
  width: 200px;
  height: 150px;
  border-radius: 100% 0 0 100%;
  background-color: blue;
}
.second {
  width: 200px;
  height: 150px;
  margin-left: 100px;
  border-radius: 0 100% 100% 0;
  background-color: green;
}
.full {
  padding: 20px;
  display: flex;
  width: 500px;
  height: 200px;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/4913167/pexels-photo-4913167.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=600");
}
